<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt" class="no-js">

    {% block head %}
        <head>
           {% include '@partials/head.html.twig' %}
        </head>
    {% endblock %}

    <body>
        {% block body %}

            {{ head.body_script }}

            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ head.google_tag_manager }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

            <div id="DOM_expansivel" class="DOM_expansivel"></div>
            
            <table summary="" class='tabelanum1' id="tablenum1"  border='0' cellspacing='0' cellpadding='0'>
                {% if body.render_menu %}
                    {% block body_header %}
                        <tr id="topo" class="topo">
                            <td class="logo" align="left">
                                <a style="color:#FFF; text-decoration: none;" href="/">
                                    {% if config.ieducar_entity_name is empty %}
                                        i-Educar
                                    {% else %}
                                        {{ config.ieducar_entity_name }}
                                    {% endif %}
                                </a>
                            </td>
                            <td id="perfil-user-id" class="perfil-user" align="right">
                                <a class="icons-top" href="#">
                                    <img id="notificacao" src="/intranet/imagens/icon-nav-notifications.png">
                                </a>
                                <a href="/intranet/meusdados.php" title="Meus dados">
                                    <div id="foto-user" class="foto-user" style="background: url('{{ body.user.foto }}')"></div>
                                </a>
                                <div class="dropdown">
                                    <div class="dropbtn">{{ head.user_name }}</div>
                                    <div class="dropdown-content">
                                        <a href="/intranet/agenda.php">Agenda</a>
                                        <a href="/intranet/index.php">Calendário</a>
                                        <a href="/intranet/meusdados.php">Meus dados</a>
                                        <a href="/intranet/logof.php">Sair</a>
                                    </div>
                                </div><!--a href="http://www.google.com.br/" target="_blank"><img src="imagens/nvp_bot_internet.jpg" width="62" height="21" border="0" alt="Acessar Internet" title="Acessar a Web"></a--></td>
                        </tr>
                    {% endblock %}
                {% endif %}
                <tr>
                    <td colspan="3">
                    <table summary="" class='tabelanum2' border='0' cellspacing='0' cellpadding='0'>
                    <tr>
                        <td id="menu_lateral" class="r3c1" width='170'>{{ body.menu|raw }}</td>
                        <td valign=top>
                            <table summary="" class='tabelanum2' border='0' cellspacing='0' cellpadding='0'>
                                <tr>
                                    <td height="0" id="menu_suspenso">
                                        <input type="hidden" value="" id="posx">
                                        <input type="hidden" value="" id="posy">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="100%" valign="top" id="corpo">
                                        <!-- #&PROG_ALERT&# -->
                                        <!-- #&NOTIFICACOES&# -->
                                        {% block body_content %}
                                            {{ body.content.dados.html|raw }}
                                        {% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </table>
                    </td>
                </tr>
                {% if body.render_menu %}
                    {% block body_footer %}
                        <tr class="rodape">
                            <td colspan="3">
                                <center>
                                    {{ config.ieducar_internal_footer|raw }}
                                </center>
                            </td>
                        </tr>
                    {% endblock %}
                {% endif %}
            </table>

            {{ body.scripts|raw }}
        {% endblock body %}

        {% block footer %}
            <script type="text/javascript" src="/intranet/scripts/select2/select2.full.min.js"></script>
            <script type="text/javascript" src="/intranet/scripts/select2/pt-BR.js"></script>
            <link type="text/css" rel="stylesheet" href="/intranet/scripts/select2/select2.min.css" />

            <script src="/intranet/scripts/custom-file-input.js"></script>


            {% if body.render_menu_suspenso %}
                {{ menu_suspenso|raw }}
            {% endif %}

            <script type="text/javascript">
                {{ foot.script }}
            </script>
        {% endblock footer %}
    </body>
</html>
